[submodule "fboender.ansible-cmdb"]
	path = fboender.ansible-cmdb
	url = https://github.com/fboender/ansible-cmdb.git
[submodule "jlafon.ansible-profile"]
	path = jlafon.ansible-profile
	url = https://github.com/jlafon/ansible-profile.git
[submodule "volanja.ansible_spec"]
	path = volanja.ansible_spec
	url = https://github.com/volanja/ansible_spec.git
