[submodule "fboender.ansible-cmdb"]
	path = fboender.ansible-cmdb
	url = https://github.com/fboender/ansible-cmdb.git
[submodule "jlafon.ansible-profile"]
	path = jlafon.ansible-profile
	url = https://github.com/jlafon/ansible-profile.git
[submodule "volanja.ansible_spec"]
	path = volanja.ansible_spec
	url = https://github.com/volanja/ansible_spec.git
[submodule "bbrfkr.ansible-art"]
	path = bbrfkr.ansible-art
	url = https://github.com/bbrfkr/ansible-art.git
[submodule "starboarder2001.ansible-docgen"]
	path = starboarder2001.ansible-docgen
	url = https://github.com/starboarder2001/ansible-docgen.git
[submodule "n0ts.ansible-human_log"]
	path = n0ts.ansible-human_log
	url = https://github.com/n0ts/ansible-human_log.git
[submodule "iceburg-net.ansible-pcd"]
	path = iceburg-net.ansible-pcd
	url = https://github.com/iceburg-net/ansible-pcd.git
[submodule "willthames.ansible-review"]
	path = willthames.ansible-review
	url = https://github.com/willthames/ansible-review.git
[submodule "mirskytech.ansible-role-manager"]
	path = mirskytech.ansible-role-manager
	url = https://github.com/mirskytech/ansible-role-manager.git
[submodule "ansible-semaphore.semaphore"]
	path = ansible-semaphore.semaphore
	url = https://github.com/ansible-semaphore/semaphore.git
[submodule "nylas/ansible-test"]
	path = nylas/ansible-test
	url = https://github.com/nylas/ansible-test.git
[submodule "larsks.ansible-toolbox"]
	path = larsks.ansible-toolbox
	url = https://github.com/larsks/ansible-toolbox.git
[submodule "dellis23.ansible-toolkit"]
	path = dellis23.ansible-toolkit
	url = https://github.com/dellis23/ansible-toolkit.git
[submodule "silpion.ansible-util"]
	path = silpion.ansible-util
	url = https://github.com/silpion/ansible-util.git
[submodule "nickjj.ansigenome"]
	path = nickjj.ansigenome
	url = https://github.com/nickjj/ansigenome.git
[submodule "drm.jinja2-lint"]
	path = drm.jinja2-lint
	url = https://github.com/drm/jinja2-lint.git
[submodule "bcoe.librarian-ansible"]
	path = bcoe.librarian-ansible
	url = https://github.com/bcoe/librarian-ansible.git
[submodule "metacloud.molecule"]
	path = metacloud.molecule
	url = https://github.com/metacloud/molecule.git
[submodule "openstack.ara"]
	path = openstack.ara
	url = git@github.com:mdrotthoff/openstack.ara.git
[submodule "jlaska.pytest-ansible"]
	path = jlaska.pytest-ansible
	url = https://github.com/jlaska/pytest-ansible.git
[submodule "mrjk.ansible-skel"]
	path = mrjk.ansible-skel
	url = https://github.com/mrjk/ansible-skel.git
[submodule "redhat-cop.infra-ansible"]
	path = redhat-cop.infra-ansible
	url = https://github.com/redhat-cop/infra-ansible.git
[submodule "linux-system-roles.template"]
	path = linux-system-roles.template
	url = https://github.com/linux-system-roles/template.git
[submodule "ansible.ansible-inventory-backport"]
	path = ansible.ansible-inventory-backport
	url = https://github.com/ansible/ansible-inventory-backport.git
[submodule "turkenh.ansible-interactive-tutorial"]
	path = turkenh.ansible-interactive-tutorial
	url = https://github.com/turkenh/ansible-interactive-tutorial.git
[submodule "willthames.ansible-lint"]
	path = willthames.ansible-lint
	url = https://github.com/willthames/ansible-lint.git
[submodule "lxhunter.ansible-filter-plugins"]
	path = lxhunter.ansible-filter-plugins
	url = https://github.com/lxhunter/ansible-filter-plugins.git
